<div class="footer">
    <div class="footer-section">
        <a href="https://www.instagram.com/designnavenue/?hl=en"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="https://www.facebook.com/DesignnAvenue"><i class="fab fa-facebook-square"></i> Facebook</a>
    </div>

    <div class="footer-section">
        <a routerLink="about">About</a>
        <a routerLink="browse">Frames</a>
        <a routerLink="">Wallsets</a>
        <a routerLink="custom-design">Custom Design</a>
    </div>
    <div class="footer-section">
        <a href="">Contact us</a>
        <a routerLink="admin">Admin</a>
        <a (click)="logout()">Logout</a>

    </div>
</div>