<div class="footer">
    <div class="footer-section">
        <a href="https://www.instagram.com/designnavenue/?hl=en"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="https://www.facebook.com/DesignnAvenue"><i class="fab fa-facebook-square"></i> Facebook</a>
    </div>

    <div class="footer-section">
        <a href="about">About</a>
        <a href="browse">Frames</a>
        <a href="">Wallsets</a>
        <a href="custom-design">Custom Design</a>
    </div>
    <div class="footer-section">
        <div class="contact-us"><a href="">Contact us</a></div>
    </div>
</div>