.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  padding: 30px;
}

.footer div {
  flex: 1;
}

.footer div a {
  color: rgb(179, 179, 179);

}

.footer div a:hover {
  color: black;
}

.footer-section a {
  margin-top: 10px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px;
  border-right: 1px solid rgb(185, 185, 185);
}
