<div class="main-cont">
    <div class="cart-header"><a><i class="fas fa-shopping-bag fa-5x"></i></a></div>
    <div class="cart-content">


        <div class="cart-item" *ngFor="let item of itemsInCart;let indx = index">
            <div class="cart-item-image-cont"><img class="cart-item-image"
                    src="{{item.imageUrl}}"
                    alt=""></div>
            <div class="cart-item-info-cont">
                <div class="cart-item-info-title">{{item.title}}</div>
                <div class="cart-item-info">{{item.colorSelected}}</div>
                <div class="cart-item-info">{{item.sizeSelected}}</div>
            </div>
            <div class="cart-item-price">{{item.price}}</div>
            <div class="cart-item-buttons">
                <a (click)="removeFromCart(item)"><i class="fas fa-minus"></i></a>
                <a>{{item.number}}</a>
                <a (click)="addToCart(item)"><i class="fas fa-plus"></i></a>
            </div>
        </div>


        <div class="cart-total" *ngIf="itemsInCart.length!==0">
            <div class="cart-total-price">
                Total Price: 360 EGP
            </div>
            <div class="order-btn"><a href="">Order Now</a></div>
        </div>

        <div *ngIf="itemsInCart.length===0">
            No items in cart
        </div>
    </div>
</div>