<div class="row">
    <div class="admin-product-form container">
        <div class="form-cont">
            <h5>Add new Product</h5>
            <form>
                <div class="form-group">
                    <label for="product-title">Title</label>
                    <input type="text" class="form-control" id="product-title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="product-description">Description</label>
                    <input type="text" class="form-control" id="product-description" placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="product-price">Price</label>
                    <input type="number" class="form-control" id="product-price" placeholder="Price" min="0">
                </div>
                <div class="form-group">
                    <label for="product-category">Category</label>
                    <select class="form-control" id="product-category">
                        <option>Frame</option>
                        <option>Wallset</option>
                        <option>Poster</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="product-color">Colors</label>
                    <select multiple class="form-control" id="product-color">
                        <option>Brown</option>
                        <option>Black</option>
                        <option>White</option>
                        <option>Gray</option>
                        <option>Wooden</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="product-size">Sizes</label>
                    <select multiple class="form-control" id="product-size">
                        <option>20</option>
                        <option>22</option>
                        <option>25</option>
                        <option>30</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="product-image">Image</label>
                    <input type="file" class="form-control-file" id="product-image">
                </div>
                <div class="form-group">
                    <label for="product-imageUrl">Image Url</label>
                    <input type="text" class="form-control" id="product-imageUrl" placeholder="Image Url">
                </div>
                <button class="btn btn-primary" type="submit">{{action}} Product</button>
            </form>
        </div>
    </div>
</div>